:root {
    --primary-color: #f4b083;
    --background-color: #ffffff;
    --reserve-button-color: #dc3343;
    --footer-color: #ffc107;
    --footer-text-color: #000000;
    --footer-button-color: #60646c;
    --text-color: #2a2a2a;
    --logo-brightness: 100%;
    --image-brightness: 100%;
}

/* dark theme */
[data-theme="dark"] {
    --primary-color: #0e4b61;
    --background-color: #374045;
    --reserve-button-color: #003343;
    --footer-color: #b78114;
    --footer-text-color: #374045;
    --footer-button-color: #374045;
    --text-color: #c7cfde;
    --navbar-hover-color: #136181;
    --image-brightness: 70%;
    --logo-brightness: 130%;
}

body {
    font-family: 'Kaushan Script', cursive;
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--primary-color);
}

.navbar-nav .nav-link {
    font-weight: bold;
    color: var(--text-color);
}

.navbar-nav .nav-link:hover {
    background-color: var(--navbar-hover-color);
}
        .logo {
            width: 150px;
        }

        .footer-logo {
            width: 150px;
        }

        textarea {
            resize: vertical;
            max-height: 200px;
        }

        .blockquote-footer {
            margin-top: 20px;
            background-color: var(--footer-color);
            color: var(--text-color);
        }

        .reservation, .contact-form {
            max-width: 600px;
            margin: 40px auto;
            background-color: var(--primary-color);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
button {
    background-color: var(--reserve-button-color);
    border-color: var(--reserve-button-color);
    color: var(--text-color);
}
        .reservation h2,
        .contact-form h2 {
            text-align: center;

            font-size: 32px;
        }

        .reservation form,
        .contact-form form {
            display: flex;
            flex-direction: column;
        }

        .reservation label,
        .contact-form label {
            margin-top: 10px;
            font-size: 18px;

        }

        .reservation input,
        .reservation select,
        .reservation button,
        .contact-form input,
        .contact-form textarea,
        .contact-form button {
            padding: 10px;
            margin-top: 5px;
            border-radius: 5px;

            font-size: 16px;
            width: 100%;
        }

        .reservation button,
        .contact-form button {


            border: none;
            margin-top: 20px;
            cursor: pointer;
        }

        .reservation button:hover,
        .contact-form button:hover {

        }
.btn {
    background-color: var(--reserve-button-color);
    border-color: var(--reserve-button-color);
    color: var(--text-color);
}
        .form-select, .form-control {
            background-color: var(--background-color);

        }
        #footer {
            background-color: var(--footer-color) !important;
        }
